/* rem and em do NOT depend on html font size in media queries!
   Instead 1rem = 1em = 16px */

/***************************************/
/* BELOW 1952px (Desktops) */
/***************************************/
@media (max-width: 122em) {
}

/***************************************/
/* BELOW 1728px (Desktops) */
/***************************************/
@media (max-width: 108em) {
  .contact--form {
    max-width: 70%;
  }
}

/***************************************/
/* BELOW 1568px (Smaller desktops) */
/***************************************/
@media (max-width: 98em) {
  :root {
    --about-box-height: 150px;
  }

  .section--projects {
    grid-template-columns: 1fr 1fr;
  }
}

/***************************************/
/* BELOW 1344px (Smaller desktops) */
/***************************************/
@media (max-width: 84em) {
  .about--icon {
    font-size: 6rem;
  }
}

/***************************************/
/* BELOW 1200px (Landscape tablets) */
/***************************************/
@media (max-width: 75em) {
  .about--icon {
    font-size: 8rem;
  }

  .section--about {
    width: 90vw;
  }
  .contact--form {
    max-width: 80%;
  }
}

/***************************************/
/* BELOW 1024px (Portrait Tablets) */
/***************************************/
@media (max-width: 64em) {
  .page-container {
    width: 95vw;
  }
  .contact--form {
    max-width: none;
  }
}

/***************************************/
/* BELOW 944px (Portrait Tablets) */
/***************************************/
@media (max-width: 59em) {
  :root {
    --about-box-height: 125px;
  }

  .about--box:nth-child(even) {
    margin-bottom: 1rem;
    /* margin-bottom: 0; */
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
  }

  .about--box:nth-child(odd) {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .about--grid {
    grid-template-columns: auto 3fr;
    row-gap: 0;
  }

  .about--center-container {
    grid-template-columns: 15px 1fr;
    grid-column: 1;
    grid-row: 1 / 20;
  }

  .about--timeline-graphic {
    grid-column: 1;
  }

  .about--timeline-text:nth-child(even) {
    flex-direction: row-reverse;
    margin-bottom: 0rem;
  }

  .about--timeline-text:nth-child(odd) {
    margin-top: 0;
  }

  .about--timeline-text:nth-child(even) > div {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .about--icon {
    font-size: 6rem;
  }


  .section--projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
  }
}

/***************************************/
/* BELOW 832px (Smaller tablets) */
/***************************************/
@media (max-width: 52em) {
  .header-block {
    padding: 0.6rem 1.2rem;
  }

  .page-container {
    width: 100vw;
  }

  .contact--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem 2.4rem;
  }

  .contact--form textarea {
    width: 450px;
  }

  .contact--button {
    font-size: 1.2rem;
  }
}

/***************************************/
/* BELOW 704px (Smaller tablets) */
/***************************************/
@media (max-width: 44em) {
  .section--hero {
    flex-direction: column;
  }

  .section--header {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .icon-description {
    display: inline-block;
  }

  .header-text {
    text-align: center;
  }

  .hero--title {
    text-align: center;
  }

  .hero--left {
    flex-direction: column;
    align-items: center;
  }

  .section--about {
    border: none;
    max-width: none;
  }

  .projects-disclaimer {
    max-width: 70vw;
  }

  .contact--form {
    border: none;
  }

  .contact--title {
    text-align: center;
  }

  .form-group {
    align-items: center;
  }

  .form-group input {
    text-align: center;
  }
}

/***************************************/
/* BELOW 624px (Phones) */
/***************************************/
@media (max-width: 39em) {

  .section--about {
    width: 90vw;
  }

  .about--box:nth-child(even) {
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .header-block {
    flex-direction: column;
    width: 20rem;
  }

  .about--grid {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .about--center-container {
    display: none;
  }

  .mobile-date {
    display: inline-block;
  }

  .contact--form textarea {
    width: 90%;
  }
}

/***************************************/
/* BELOW 544px (Phones) */
/***************************************/
@media (max-width: 34em) {
  :root {
    --about-box-height: 160px;
  }

  .section--about {
    width: 100%;
    padding: 0.6rem 1.2rem;
  }

  .contact--button {
    padding: 0.4rem 0.8rem;
  }

  .section--footer {
    gap: 0.8rem;
    align-items: space-between;
    justify-content: space-between;
  }

  .project--desc-container {
    height: 200px;
    width: 200px;
    left: 120px;
  }

  .project--desc {
    margin-left: 0.8rem;
  }
}

/***************************************/
/* BELOW 464px (Small phones) */
/***************************************/
@media (max-width: 29em) {
  .page-container {
    max-width: none;
  }
}

/***************************************/
/* BELOW 432px (Small phones) */
/***************************************/
@media (max-width: 27em) {
  .header-block {
    width: 90vw;
  }
  .project--card-img {
    width: 320px;
    height: 200px;
  }

  .project--title {
    width: 320px;
  }

  .section--footer {
    max-width: none;
    padding: 0.5rem 1rem;
  }
}
